@model CreateScreeningCommand

@{
    ViewData["Title"] = "Create Screening";
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class="text-info pl-3">Dodaj projekcję</h2>

        <div class="form-group row mb-3">
            <div class="col-4">
                <label asp-for="MovieId" class="col-form-label">Film</label>
            </div>
            <div class="col-8">
                <select asp-for="MovieId" asp-items="@Model.Movies" class="form-control">
                    <option value="">Wybierz film</option>
                </select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-4">
                <label asp-for="CinemaHallId" class="col-form-label">Sala kinowa</label>
            </div>
            <div class="col-8">
                <select asp-for="CinemaHallId" asp-items="@Model.CinemaHalls" class="form-control">
                    <option value="">Wybierz salę kinową</option>
                </select>
                <span asp-validation-for="CinemaHallId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="DateTime" class="col-sm-4 col-form-label">Wybierz datę i godzinę projekcji</label>
            <div class="col-sm-8">
                <input asp-for="DateTime" class="form-control" type="datetime-local" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-4 row">
                <div class="col">
                    <button type="submit" class="btn btn-success w-100"><i class="fas fa-plus"></i> Dodaj</button>
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-primary w-100"><i class="fas fa-sign-out-alt"></i> Wróć</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}