@model PaymentFormDto

@{
    ViewData["Title"] = "Payment form";
}

<form id="paymentForm" method="post" asp-action="PayForReservation" enctype="multipart/form-data">
    <div class="container">
        <h1 class="h3 mb-5 mt-5">Płatność</h1>
        <div class="row">
            <div class="col-lg-9">
                <div class="accordion" id="accordionPayment">
                    <!-- Credit card -->
                    <div class="accordion-item mb-3">
                        <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                            <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseCC" aria-expanded="false">
                                <input class="form-check-input" type="radio" name="payment" id="payment1" required>
                                <label class="form-check-label pt-1" for="payment1">
                                    Karta kredytowa
                                </label>
                            </div>
                            <span>
                                <svg width="34" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <!-- SVG content -->
                                </svg>
                            </span>
                        </h2>
                        <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment" style="">
                            <div class="accordion-body">
                                <div class="mb-3">
                                    <label class="form-label">Numer karty</label>
                                    <input type="text" class="form-control" placeholder="" asp-for="CardNumber" required>
                                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label">Nazwa karty</label>
                                            <input type="text" class="form-control" placeholder="" asp-for="CardName" required>
                                            <span asp-validation-for="CardName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label">Data ważności</label>
                                            <input type="text" class="form-control" placeholder="MM/YY" asp-for="ExpiryDate" required>
                                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label">Kod CVV</label>
                                            <input type="password" class="form-control" asp-for="CvvCode" required>
                                            <span asp-validation-for="CvvCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PayPal -->
                    <div class="accordion-item mb-3 border">
                        <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                            <div class="form-check w-100 collapsed" data-bs-toggle="collapse" data-bs-target="#collapsePP" aria-expanded="false">
                                <input class="form-check-input" type="radio" name="payment" id="payment2" required>
                                <label class="form-check-label pt-1" for="payment2">
                                    PayPal
                                </label>
                            </div>
                            <span>
                                <svg width="103" height="25" xmlns="http://www.w3.org/2000/svg">
                                    <!-- SVG content -->
                                </svg>
                            </span>
                        </h2>
                        <div id="collapsePP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" style="">
                            <div class="accordion-body">
                                <div class="px-2 col-lg-6 mb-3">
                                    <label class="form-label">Adres email</label>
                                    <input type="email" class="form-control" asp-for="Email" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right -->
            <div class="col-lg-3">
                <div class="card position-sticky top-0">
                    <div class="p-3 bg-light bg-opacity-10">
                        <h6 class="card-title mb-3">Podsumowanie zamówienia</h6>
                        <div class="d-flex justify-content-between mb-1 small">
                            <span>Całość</span> <span>@Model.TotalCost.ToString("0.00") PLN</span>
                        </div>
                        <div class="d-flex justify-content-between mb-1 small">
                            <span>Dostawa</span> <span>0 PLN</span>
                        </div>

                        <hr>
                        <div class="d-flex justify-content-between mb-4 small">
                            <span>Należność całkowita</span> <strong class="text-dark">@Model.TotalCost.ToString("0.00") PLN</strong>
                        </div>
                        <div class="form-check mb-1 small">
                            <input class="form-check-input" type="checkbox" value="" id="tnc" required>
                            <label class="form-check-label" for="tnc">
                                Zgadzam się na <a href="#">warunki korzystania z usługi</a>
                            </label>
                        </div>
                        <div class="form-check mb-3 small">
                            <input class="form-check-input" type="checkbox" value="" id="subscribe">
                            <label class="form-check-label" for="subscribe">
                                Otrzymuj e-maile o aktualizacjach produktów i wydarzeniach. Jeśli zmienisz zdanie, możesz w każdej chwili zrezygnować z subskrypcji. <a href="#">Polityka prywatności</a>
                            </label>
                        </div>
                        <button class="btn btn-primary w-100 mt-2" form="paymentForm" type="submit">Opłać zamówienie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var creditCardPayment = document.getElementById("payment1");
        var creditCardFields = document.querySelectorAll("#collapseCC input[required]");

        // Funkcja do aktualizacji atrybutu required w zależności od wyboru płatności
        function updateRequiredAttribute() {
            creditCardFields.forEach(function (field) {
                field.required = creditCardPayment.checked;
            });
        }

        // Nasłuchuj zmiany wyboru płatności i aktualizuj atrybut required
        creditCardPayment.addEventListener("change", updateRequiredAttribute);

        // Wywołaj funkcję w momencie załadowania strony, aby zainicjalizować stan
        updateRequiredAttribute();
    });
</script>