html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 260px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.seat {
    width: 40px;
    height: 40px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 30%;
    font-size: 16px;
    cursor: pointer;
}

.screen {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.row-info {
    font-weight: bold;
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.cinemaHall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.available {
    background-color: #65db65;
    color: white;
}

.reserved {
    background-color: #f26352;
    color: white;
    cursor: not-allowed;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.pagination .page-item.active .page-link {
    background-color: #333;
    border-color: black;
    color: white;
}

.pagination .page-link {
    color: black;
}

.movie-card {
    transition: transform 0.3s ease-in-out;
}

    .movie-card:hover {
        transform: scale(1.08);
    }

.screening-card {
    transition: transform 0.3s ease-in-out;
}

    .screening-card:hover {
        transform: scale(1.08);
    }

.selected {
    background-color: grey;
}

.seat-checkbox {
    position: absolute;
    left: -9999px;
}

.reservation-card {
    transition: box-shadow 0.3s ease-in-out;
}

    .reservation-card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

.nav-link.active {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.nav-link:hover {
    background-color: #f2f2f2;
    border-radius: 8px;
}

.navbar-nav > .nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-family: system-ui, sans-serif;
    font-weight: 500;
}

.dropdown-menu-right .dropdown-item {
    font-family: system-ui, sans-serif;
    font-weight: 500;
}
